<!DOCTYPE html>
<html lang="en">
<head>
    <title>add emp</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ONLINE EMPLOYEE MANAGEMENT SYSTEM</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="home">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Employees<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="addemp">add employee</a></li>
          <li><a href="emplist">view employees</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Department<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="add-dept">add department</a></li>
          <li><a href="deptlist">view departments</a></li>
        </ul>
      </li>
      <li><a href="admin_profile">Profile</a></li>
      <li><a href="change_pwd">Change Password</a></li>
      <li><a href="logout">Logout</a></li>
    </ul>
    <!--<ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>-->
  </div>
</nav>
<div class="container">
    <h2 align="center" style="text-decoration:underline;">EMPLOYEE REGISTRATION FORM</h2>
    <br>
    <form method="POST" action="empdata"  class="form-horizontal">
      {% csrf_token %}
      <div class="form-group">
      <label class="control-label col-sm-1"></label>
      <label class="control-label col-sm-2" for="fullname" style="text-align:left;">Fullname:</label>
      <div class="col-sm-6">
      <input type="text" class="form-control" id="fullname" placeholder="Enter fullname" name="fullname" required>
      </div>
      </div>
      <div class="form-group">
      <label class="control-label col-sm-1"></label>
      <label class="control-label col-sm-2" for="empid" style="text-align:left;">Empid:</label>
      <div class="col-sm-6">
      <input type="text" class="form-control" id="empid" placeholder="Enter empid" name="empid" required>
      </div>
      </div>
      <div class="form-group">
      <label class="control-label col-sm-1"></label>
      <label class="control-label col-sm-2" for="gen" style="text-align:left;">Gender:</label>
      <div class="col-sm-6">
      <select class="form-control" id="gen" name="gender" required>
        <option value="">Select gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
      </div>
      </div>
      <div class="form-group">
      <label class="control-label col-sm-1"></label>
      <label class="control-label col-sm-2" for="ph_num" style="text-align:left;">Phone number:</label>
      <div class="col-sm-6">
      <input type="text" class="form-control" id="ph_num" placeholder="Enter phone number" name="ph_num" required>
      </div>
      </div>
      <div class="form-group">
      <label class="control-label col-sm-1"></label>
      <label class="control-label col-sm-2" for="email" style="text-align:left;">Email:</label>
      <div class="col-sm-6">
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
      </div>
      </div>
      <div class="form-group">
      <label class="control-label col-sm-1"></label>
      <label class="control-label col-sm-2" for="town" style="text-align:left;">Town:</label>
      <div class="col-sm-6">
      <input type="text" class="form-control" id="town" placeholder="Enter your town" name="town" required>
      </div>
      </div>
      <div class="form-group">
      <label class="control-label col-sm-1"></label>
      <label class="control-label col-sm-2" for="state" style="text-align:left;">State:</label>
      <div class="col-sm-6">
      <input type="text" class="form-control" id="state" placeholder="Enter your state" name="state" required>
      </div>
      </div>
      <div class="form-group">
      <label class="control-label col-sm-1"></label>
      <label class="control-label col-sm-2" for="country" style="text-align:left;">Country:</label>
      <div class="col-sm-6">
      <input type="text" class="form-control" id="country" placeholder="Enter your country" name="country" required>
      </div>
      </div>
      <div class="form-group">
      <label class="control-label col-sm-1"></label>
      <label class="control-label col-sm-2" for="dept" style="text-align:left;">Department:</label>
      <div class="col-sm-6">
      <select class="form-control" id="dept" name="department" required>
        <option value="">Select department</option>
        <option value="development">Development</option>
        <option value="testing">Testing</option>
        <option value="human resource">Human Resource</option>
        <option value="sales">Sales</option>
      </select>
      </div>
      </div>
      <div class="form-group">
      <label class="control-label col-sm-1"></label>
      <label class="control-label col-sm-2" for="designation" style="text-align:left;">Designation:</label>
      <div class="col-sm-6">
      <input type="text" class="form-control" id="designation" placeholder="Enter designation" name="designation" required>
      </div>
      </div>
      <div class="form-group" >
      <label class="control-label col-sm-1"></label>
      <label class="control-label col-sm-2"></label>
        <div class="col-sm-4" ><button type="submit">add employee</button>
      </div>
      </div>

  </form>
</div>
</body>
</html>