<!DOCTYPE html>
<html lang="en">
<head>
    <title>home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ONLINE EMPLOYEE MANAGEMENT SYSTEM</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Employees<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="addemp">add employee</a></li>
          <li><a href="emplist">view employees</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Department<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="add-dept">add department</a></li>
          <li><a href="deptlist">view departments</a></li>
        </ul>
      </li>
      <li><a href="admin_profile">Profile</a></li>
      <li><a href="change_pwd">Change Password</a></li>
      <li><a href="logout">Logout</a></li>
    </ul>
    <!--<ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>-->
  </div>
</nav>
<br>
<br>
<div class="container-fluid">
<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-2" align="center">
    <a href="emplist"><img src="static/images/emp3.png"><br>
    <h2>{{ emp_count }}</h2></a>
</div>
<!--<div class="col-sm-1"></div>-->
<div class="col-sm-2" align="center">
    <a href="deptlist"><img src="static/images/dept1.png"/><br>
    <h2>{{ dept_count }}</h2></a>
</div>
<!--<div class="col-sm-1"></div>-->
<div class="col-sm-2" align="center">
    <a href="empdept"><img src="static/images/emp-dept.png"/><br>
    <h2>Emp & Dept</h2></a>
</div>
<!--<div class="col-sm-1"></div>-->
<div class="col-sm-2" align="center">
    <a href=""><img src="static/images/analytics.png"/><br>
    <h2>Performance</h2></a>
</div>
</div>
</div>
</body>
</html>